---
import { SOCIAL_LINKS } from '../constants/social';
import SkillsList from "../React/SkillsList.tsx";
---

<section class="text-[var(--white)] mt-12 md:mt-0" id="home">
  <div class="max-w-5xl mx-auto space-y-8 md:py-36 pb-14">
    <div class="text-left space-y-4">
      <p class="text-md md:text-lg text-[var(--white-icon)] shiny-white">
        Hi, I'm Jason Au
      </p>
      <div class="flex flex-col lg:flex-row lg:items-center space-y-4 lg:space-y-0 lg:space-x-8 md:gap-4">
        <h1 class="text-[var(--white)] text-5xl md:text-6xl font-medium text-pretty leading-none">
          Software <br /> Developer
        </h1>
        <p class="text-md md:text-2xl text-[var(--white-icon)]">
          Transforming ideas into interactive and seamless digital experiences
          with cutting-edge <span class="text-[var(--sec)] shiny-sec">frontend</span> development.
        </p>
      </div>
      <div class="flex justify-start gap-2 pt-3 md:pt-6">
        {Object.values(SOCIAL_LINKS).map((link) => (
          <a 
            target="_blank" 
            href={link.href} 
            aria-label={link.label} 
            class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
          >
            <div set:html={link.icon} />
          </a>
        ))}
      </div>
    </div>
  
    <div class="flex flex-col lg:flex-row items-center gap-8">
      <SkillsList client:load />
    </div>
  </div>
</section>

<style is:global>
.shiny-sec {
    background: linear-gradient(
        135deg,
        #A476FF 25%,
        #eee5ff 50%,
        #A476FF 75%
    );
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 3s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 100% 50%;
    }
    30%, 70% {
        background-position: 0% 50%;
    }
}
</style>